/**
 * Общие стили страницы
 */

body {
    margin: 0px; /* убираем отступ от края окна */
    background-color: #000000; /* общий цвет фона по умолчанию - черный */
    height: 100vh;
}

/* задаем шрифт текста для всех элементов страницы */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif; /* будет выбран первый из списка, который есть на компьютере */
}

/* убираем margin у всех заголовков */
h1, h2, h3, h4, h5, h6 {
    margin: 0; /* убираем отступ от края окна или соседних элементов */
}


/**
 * Стили для верхней части страницы
 */

 /* баннер в самом верху страницы */
.banner {
    height: 15vh; /* 15% от высоты окна */
    /* фоновая картинка*/
    background-image: url("https://static.wikia.nocookie.net/gta/images/2/22/Logo_GTA_SA.svg/revision/latest?cb=20150104202437&path-prefix=ru");
    background-size: contain; /* картинка будет целиком внутри блока */
    background-repeat: no-repeat; /* картинка не будет повторяться как плитка в ванной */
}

/* навигация, которая под баннером (список со ссылками) */
.top-nav {
    list-style: none; /* отключает маркеры у списка (цифры или точки) */
    display: flex; /* нужен, чтобы кнопки были слева направо, а не сверху вниз */
    padding: 0px; /* отключаем отступы от границ элемента */
    margin: 0px; /* отключаем отступы от соседних элементов */
    height: 7vh; /* высота меню навигации 7% высоты окна*/
}

/* элемент списка навигации (хранит внутри ссылку) */
.top-nav li {
    display: flex; /* включаем flex, чтобы дочерний тег "a" автоматически растянулся по высоте */
}

/* ссылка из навигации */
.top-nav li a {
    text-decoration: none; /* отключаем подчеркивание */
    font-size: 1.5em; /* 1.5 = шрифт в полтора раза больше обычного */
    color: white; /* цвет текста */
    padding: 0px 20px; /* сверху и снизу отступов от границы нет, элемент сам растянется, слева и справа по 20px */
    align-items: center; /* делаем текст внутри ссылки посередине */
    display: flex; /* нужно чтобы работал align-items */
}

/* меняем фон ссылки при наведении */
.top-nav li a:hover {
    background-color: #A82020;
}



/**
 * Стили для основного контента
 */

main {
    min-height: 58vh; /* задаем минимальную высоту блока с контентом = 100vh - высота_хедера - высота_футера */
    box-sizing: border-box; /* теперь padding входит в ширину и высоту элемента */
    padding: 20px; /* карточки будут с отступом от края в 20 пикслелей*/
    background-color: #d3d3d3;
    
}

/* карточки с описанием героев*/
.card {
    display: flex; /* чтобы картинка и колонка с текстом шли слева направо, а не сверху вниз */
    padding: 20px; /* отступ от края для дочерних элементов */
    margin-bottom: 20px; /* отступ от карточки снизу */
    background-color: white;
    border-radius: 10px; /* скругляем уголочки, радиус 10px */

}

/* у последней карточки отключаем отступ, который есть у остальных карточек */
.card:last-child {
    margin: 0px;
}

/* заголовок внутри карточки */
.card h2 {
    color: #A82020;
}

/* картинка внутри карточки */
.card img {
    height: 200px;
    margin-right: 40px; /* отступ от колонки текста справа */
    border-radius: 10px; /* скругляем уголки */
}

/* ссылка внутри карточки для перехода на страницу персонажа */
.card a {
    display: inline-block; /* нужно, чтобы работал padding */
    color: white; /* цвет текста */
    background-color: #A82020; /* цвет фона */
    padding: 15px; /* отступ от текста внутри */
    border-radius: 15px; /* скругляем уголки */
    text-decoration: none; /* отлюаем подчеркивание */
}




/**
 * Стили для нижней части страницы
 */

footer {
    box-sizing: border-box; /* теперь padding входит в ширину и высоту элемента */
    padding: 20px; /* отступ для внутренностей */
    height: 20vh;
    display: flex; /* дочерние элементы теперь слева направо */
    /* оба свойства ниже работают, только если задан display: flex; */
    justify-content: space-around; /* отступы слева, справа и между дочерними элементами */
    align-items: center; /* дочерние элементы вертикально посередине */
}

footer p {
    font-size: 120%; /* размер текста на 20% больше обычного */
    color: white; /* цвет текста */
}